__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

env/
venv/
ENV/

data/
checkpoints/*.pt
checkpoints/*.joblib

resultats_ph1.txt
resultats_ph2.txt

.DS_Store
.vscode/
.idea/

plots.py

deployment/checkpoints/
deployment/.env
deployment/__pycache__/